

body {
}

nav.nav-main {
    background-color: var(--in-content-categories-background);
    display:block;
    height:40px;
    padding:15px;
}

section.section-main {
    display: grid;
    grid-template-rows: 100vh;
    padding:15px;
}