
tree#threadTree treechildren::-moz-tree-cell-text(colQuickArchiver){
  	cursor: pointer;
	color: var(--deepdark-accent-color, inherit);
	/* color: #00AFF4;*/
	text-decoration: underline;
}
tree#threadTree treechildren::-moz-tree-column(colQuickArchiver){
  	cursor: pointer;
	color: var(--deepdark-accent-color, inherit);
	text-decoration: underline;
}
tree#threadTree treechildren::-moz-tree-cell-text(muted) {
	color: #888888 !important;
	text-decoration: none;
	cursor: default;
}