
tree#threadTree treechildren::-moz-tree-cell-text(colQuickArchiver){
  	cursor: pointer;
	color: #0000FF;
	text-decoration: underline;
}
tree#threadTree treechildren::-moz-tree-column(colQuickArchiver){
  	cursor: pointer;
	color: #0000FF;
	text-decoration: underline;
}