
body {
}

nav.nav-main {
    background-color: var(--in-content-categories-background);
    display: block;
    height: 40px;
    padding: 15px;
}

nav.nav-main img {
    float: left;
    display: block;
    margin-top: 8px;
    margin-right: 10px;
}

section.section-main {
    display: grid;
    grid-template-rows: 100vh;
    padding: 15px;
}

.rule input[type=text] {
    width: 70%
}

.rule span {
    display: block;
    opacity: 50%;
}

.qa-table td {
}


.qa-table tr.highlight td {
    background-color: #444;
}

.col {
    float: left;
}

.col.main {
    width: 60%;
    margin-right: 40px;
}

.col.changelog {
    float: right;
    width: 30%;
    padding: 20px;
    padding-top: 0px;
    background-color: #444444;
}

.col.main img {
    border: 1px solid #444444;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.col.main .panel {
    clear: both;
}

.col.main .section {
    margin-bottom: 40px;
}

h2 {
    clear: both;
}

.action-buttons{
    margin-top:20px;
}

.tools textarea {
    width:50%;
    height:150px;
}