
body {
}

nav.nav-main {
    background-color: var(--in-content-categories-background);
    display: block;
    height: 40px;
    padding: 15px;
}

nav.nav-main img {
    float: left;
    display: block;
    margin-top: 8px;
    margin-right: 10px;
}

section.section-main {
    display: grid;
    grid-template-rows: 100vh;
    padding: 15px;
}

.rule input[type=text] {
    width: 70%
}

.rule span {
    display: block;
    opacity: 50%;
}

.qa-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: var(--in-content-table-background);
    border: 1px solid var(--in-content-table-border-color);
}

.qa-table th {
    text-align: left;
    background-color: var(--in-content-table-header-background);
    color: var(--in-content-table-header-color);
}

.qa-table td, .qa-table th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid var(--in-content-table-border-color);
}

.qa-table tr.highlight td {
    background-color: var(--in-content-box-info-background);
}


.col {
    float: left;
}

.col.main {
    width: 60%;
    margin-right: 40px;
}

.col.changelog {
    float: right;
    width: 30%;
    padding: 20px;
    padding-top: 0px;
    background-color: var(--in-content-box-info-background);
}

.col.main img {
    border: 1px solid var(--in-content-box-info-background);
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}

.col.main .panel {
    clear: both;
}

.col.main .section {
    margin-bottom: 40px;
}

h2 {
    clear: both;
}

.action-buttons {
    margin-top: 20px;
}

.tools textarea {
    width: 50%;
    height: 150px;
}

.text-muted {
    color: color-mix(in srgb, currentColor 40%, transparent);
}